.advantages {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 30px;
}

.advantages__heading {
  font-size: 25px;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 38px;
    padding-left: 175px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    &--wrap-left {
      padding-left: 175px;
    }
  }
}

.advantages__item {
  margin-top: 10px;
  margin-bottom: 25px;

  svg {
    display: block;
  }

  &--ecologi {
    padding-left: 8px;
    padding-bottom: 18px;
  }

  &--price {
    padding-top: 3px;
    padding-bottom: 27px;

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  &--like {
    padding: 9px 0 22px 7px;
  }

  &--handmade {
    padding: 6px 0 20px 3px;

    @media (min-width: $desktop-width) {
      padding-top: 3px;
    }
  }

  &--support {
    padding: 5px 0 27px 0;
    margin-left: -6px;
  }

  &--delivery {
    padding: 6px 0 21px 3px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 55px;
  }
}
