.contacts {
  width: 260px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.contacts__heading {
  font-size: 18px;
  line-height: 30px;
  color: $heading-color;
}

.contacts__data {
  margin: 0;

  p {
    display: inline-block;
  }
}

.contacts__email--link {
  text-decoration: none;
  color: inherit;
}

.contacts__adress {
  text-transform: uppercase;
}
