.page-main {
  width: 100%;
}

.main__heading {
  font-size: 27px;
  line-height: 30px;
  color: $heading-color;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;

  &--wrap {
    width: 100%;
    display: flex;
  }

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 152px;

    &--gap {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 70%;
    font-size: 53px;
    line-height: 57px;
  }
}

.main__heading--wrap-index {
  min-width: 320px;
  height: 283px;
  display: flex;
  background-image: url("../img/mobile__background.jpg");
  background-position: 50% -17px;
  background-repeat: no-repeat;
  background-color: $index-background;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile__background@2.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 624px;
    border-top: 1px solid fade-out($heading-color, .9);
    background-image: url("../img/tablet__background.jpg");
    background-position: 50% -3px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet__background@2.jpg");
      background-size: 768px auto;
    }
  }
}
