.main__heading {
  font-size: 27px;
  line-height: 30px;
  color: $heading-color;

  margin: auto;
}

.main__heading--wrap-index {
  width: 320px;
  height: 178px;
  background-color: $footer-color;

  display: flex;
}
