.products {
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
}

.products__heading {
  font-size: 25px;
  line-height: 30px;
  color: $heading-color;
}

.products__offer {
  font-size: 17px;
  line-height: 20px;
  color: $excretion-light;
  text-transform: uppercase;
}

.products__description {
  width: 260px;
  height: 72px;
}

.products__options {
  line-height: 20px;
}

.products__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $heading-color;
}
