.reviews {
  margin-bottom: 30px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}


.reviews__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      top: -48px;
      left: 0;
      background-image: url("../img/review__bc.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      top: -28px;
      left: 4.3%;
    }
  }
}

.reviews__heading {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    order: -2;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-top: 5px;
  }
}

.reviews__text {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
  margin-bottom: 34px;

  @media (min-width: 321px) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 17px;
    line-height: 30px;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    width: 80%;
  }
}

.reviews__client {
  font-size: 17px;
  line-height: 24px;

  p {
    margin-top: 6px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;

    b {
      font-size: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
    padding-left: 175px;

    b {
      font-size: 17px;
    }
  }
}

.reviews__switch {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 37px;

  &--item {
    width: 50%;

    &:nth-of-type(2) {
      text-align: end;
    }

    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 8px;
      padding-right: 24px;
      padding-left: 13px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  &--box {
    width: 130px;
    height: 52px;
    background-color: $main-background;
    box-shadow: none;
    border: 1px solid $border-color;
    outline: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      border: none;
      width: 50px;
      height: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.reviews__button {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 175px;
    order: -1;
    margin: 0;
    margin-top: 30px;
    margin-left: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}
