.reviews__heading {
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  width: 260px;
  height: 270px;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.reviews__client  {
  font-size: 17px;
  line-height: 24px;
}
