.page__body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: $main-background;
  color: $heading-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color;
  border: 2px solid #444444;
}
