// Colors

$main-background: #FFFFFF;
$heading-color: #000000;
$text-color: #444444;
$excretion-light: #63D1BB;
$excretion-darck: #56C3B2;
$underline-color: #62D1BA;
$underline-light: #E5E5E5;
$footer-color: #F1F1F1;
$border-color: #ECECEC;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;


%form-compilation {
  width: 100%;
  display: flex;
  flex-direction: column;
}
