// Colors

$main-background: #ffffff;
$heading-color: #000000;
$text-color: #444444;
$excretion-light: #63d1bb;
$excretion-darck: #56c3b2;
$underline-color: #62d1ba;
$underline-light: #e5e5e5;
$footer-color: #f1f1f1;
$border-color: #ececec;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;


%form-compilation {
  padding: 0;
  border: none;
  margin: 0;
  position: relative;
}

%wrap-compilation {
  margin-left: 43px;
  display: flex;
  flex-direction: column;
}
