.main__heading--wrap-catalog {
  width: 320px;
  height: 178px;
  background-color: $footer-color;

  display: flex;
}

.main__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}
