.main__heading--wrap-catalog {
  min-width: 320px;
  height: 178px;
  background-color: $footer-color;

  display: flex;

  @media (min-width: $tablet-width) {
    height: 226px;

    .main__heading {
      margin-top: 100px;
    }
  }
}
