.product {
  min-width: 260px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    min-width: 668px;
    padding: 0 50px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.product__item--wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__heading {
  font-size: 17px;
  line-height: 24px;
}

.product__characteristics {
  font-size: 13px;
  line-height: 30px;
  color: $text-color;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
}

.product__img {
  width: 334px;
  height: 334px;
}
