.product__list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 126px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product__item {
  margin: 0 auto;

  &:nth-of-type(3) .product__price {
    padding-top: 4px;
  }

  @media (min-width: $tablet-width) {
    &:nth-of-type(1) .product__wrap {
      padding-left: 30px;
      padding-right: 72px;
    }

    &:nth-of-type(1) .product__button {
      margin-right: -40px;
      padding-right: 0;
    }

    &:nth-of-type(3) .product__wrap--description::after {
      bottom: -150px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &:nth-of-type(1) .product__wrap {
      padding: 0;
      padding-top: 10px;
      padding-left: 26px;
    }

    &:nth-of-type(1) .product__button {
      margin-right: 0;
      padding-right: 30px;
      padding-top: 22px;
    }

    &:nth-of-type(2) .product__button {
      padding-top: 22px;
    }

    &:nth-of-type(1) .product__price,
    &:nth-of-type(2) .product__price {
      padding-top: 22px;
    }

    &:nth-of-type(3) .product__price {
      padding-top: 0;
    }

    &:nth-of-type(3) .product__wrap--description::after {
      bottom: -14px;
    }
  }
}

.product__item--wrap {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__wrap {
  padding-left: 27px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $border-color;
  box-sizing: border-box;

  &--description {
    position: relative;
  }

  &--description::after {
    content: "";
    position: absolute;
    width: 88%;
    height: 1px;
    bottom: -18px;
    left: 0;
    background-color: $border-color;
  }

  &--order {
    padding-top: 40px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0px 6px 10px fade-out($heading-color, .1);
  }

  &:active {
    box-shadow: 0px 3px 5px fade-out($heading-color, .1);
  }

  @media (min-width: $tablet-width) {
    padding-right: 90px;
    padding-left: 30px;
    padding-top: 10px;


    &--description::after {
      width: 128%;
      bottom: -174px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 10px;
    padding-left: 26px;

    &--description::after {
      width: 89%;
      bottom: -36px;
    }
  }
}

.product__button {
  padding-right: 26px;
  border: none;
  outline: none;
  background-color: inherit;

  &--icon {
    opacity: 0.2;
  }

  &:hover .product__button--icon {
    fill: $excretion-light;
    opacity: 1;
  }


  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: -57px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-right: 31px;
  }
}

.link__wrap {
  height: 195px;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__heading {
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;

  &--link {
    color: inherit;
    text-decoration: none;
  }

  &:hover .product__heading--link {
    opacity: 0.6;
  }

  &:active .product__heading--link {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__characteristics {
  font-size: 13px;
  line-height: 30px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__price {
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__img {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}
