.copyright {
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 15px;
  }
}

.copyright__heading {
  font-size: 19px;
  line-height: 18px;
  padding-top: 14px;
  padding-left: 11px;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
  }
}

.copyright__link {
  margin-top: 20px;
  margin-left: 20px;

  svg {
    width: 45px;
    height: 35px;
    fill: $excretion-light;
  }

  span {
    position: absolute;
    opacity: 0;
  }

  &:hover svg {
    fill: $link-color;
  }

  &:active svg {
    fill: $link-color;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 19px;
    margin-right: -10px;
  }
}
