.footer__copyright {
  display: flex;
}

.copyright__heading {
  font-size: 19px;
  line-height: 18px;
}

.copyright__link svg {
  width: 27px;
  height: 35px;

  path {
    fill: $excretion-light;
  }
}
