.header-navigation {
  background-color: $main-background;
  color: inherit;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 90px;
  }
}

.header-navigation__toggle {
  position: absolute;
  top: -45px;
  right: 30px;
  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: inherit;

  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .header-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $heading-color;
  box-shadow: 0 6px 0 0 $heading-color, 0 12px 0 0 $heading-color;
}

.main-nav--opened .header-navigation__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -2px;
    width: 25px;
    height: 2px;
    background-color: $heading-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .header-navigation__item {
    display: none;
  }
}

.main-nav--nojs .header-navigation__toggle {
  display: none;
}

.header-navigation__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: start;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto 1fr min-content auto;
  }
}

.header-navigation__item {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0px #ECECEC, inset 0px 1px 0px #ECECEC;

  @media (min-width: $tablet-width) {
    box-shadow: none;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      grid-row: 2/3;
    }

    &:nth-of-type(3) {
      grid-column: 3/4;

    }
  }

  @media (min-width: $desktop-width) {

    &:nth-of-type(1),
    &:nth-of-type(2) {
      grid-row: 1/2;
    }

    &:nth-of-type(3) {
      grid-column: 4/5;
      padding-right: 52px;
    }

    &:nth-of-type(4) {
      padding-right: 52px;
    }


  }
}

.header-navigation__item--link {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $heading-color;
  margin-left: 76px;

  &:hover {
    opacity: 0.6;

    path {
      fill: $excretion-light;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 48px;
  }
}

.header-navigation__item--icon {
  position: absolute;
  top: 0;
  left: -50px;
  width: 20px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .header-navigation__item--invisible {
    width: 85px;
    height: 90px;
    border-right: 1px solid fade-out($heading-color, .9);
    border-left: 1px solid fade-out($heading-color, .9);

    span {
      position: absolute;
      opacity: 0;
    }
  }
}

.header-navigation__item--decktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header-navigation__delivery {
  display: none;
  color: $text-color;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    bottom: -67px;
    right: 20px;
  }
}
