.page-footer {
  width: 100%;
  background-color: $footer-color;
}

.footer__wraper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 43px;
    align-items: center;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
