.page-header {
  background-color: $main-background;

}

@media (min-width: $tablet-width) {
  .header__wrapper {
    display: flex;
  }
}

.header__logo-img {
  width: 86px;
  height: 35px;
  margin: auto;
  padding: 22px 0;
  display: block;
}
