.footer__social {
  border-bottom: 1px solid $underline-light;
}

.social__list {
  width: 70%;
  list-style: none;
  padding: 0;
  margin: 24px 0 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 5px 40px 0 85px;
  }
}

.social__item {
  padding: 0;
  margin: 0 auto;
}

.social__link {
  &:hover path {
    fill: $link-color;
  }

  &:active path {
    fill: $link-color;
    opacity: 0.3;
  }
}
