.form {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $heading-color;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.form__heading {
  line-height: 16px;
  text-transform: uppercase;
  color: $excretion-light;
  position: relative;

  padding-top: 18px;
  padding-bottom: 10px;

  &--decorate::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 1px;
    top: 25px;
    left: 0;
    background-color: $underline-color;
    z-index: -1;
  }

  &--text {
    background-color: $main-background;
    padding-right: 20px;
    z-index: 1;
  }

  &--type {
    padding-right: 23px;
  }

  &--colors {
    padding-right: 16px;
  }

  &--client {
    padding-right: 18px;
  }

  &--telephone {
    padding-right: 28px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 16px;
    position: absolute;

    &--decorate::after {
      display: none;
    }

    &--text {
      background-color: inherit;
    }
  }
}

input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $heading-color;
  opacity: 0.3;
}

.form__type {
  margin: 0 auto;
  border: none;

  &--wrap {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
  }

  &--radio {
    padding-top: 24px;

    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    &:nth-of-type(2)::before {
      top: 14px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &--wrap {
      padding-bottom: 30px;
    }

    &--radio {
      margin-left: 185px;
      margin-bottom: 35px;

      &:nth-of-type(2)::before {
        top: 8px;
      }

      br {
        display: none;
      }

      &:hover::before {
        border-color: $excretion-light;
      }

      &:active::before {
        border-color: $heading-color;
        opacity: 0.3;
      }
    }

    .form__heading {
      top: 8px;
      left: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    &--radio {
      margin-left: 195px;
    }

    .form__heading {
      left: 110px;
    }
  }
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -61px;
  top: 22px;
  width: 35px;
  height: 35px;
  border: 2px solid $text-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -76px;
    top: 9px;
    width: 46px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    left: -80px;
  }
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 33px;
  left: -49px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $excretion-light;

  @media (min-width: $tablet-width) {
    top: 24px;
    left: -60px;
    width: 19px;
    height: 19px;
  }

  @media (min-width: $desktop-width) {
    left: -64px;
  }
}

.filter-input-radio:checked + label:nth-of-type(2)::after {
  top: 26px;
  left: -49px;

  @media (min-width: $tablet-width) {
    top: 23px;
    left: -60px;
  }

  @media (min-width: $desktop-width) {
    left: -64px;
  }
}

.form__colors--background {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.form__colors {
  border: none;
  position: relative;
  margin-top: 25px;

  &--wrap {
    margin-left: 61px;
    display: flex;
    flex-direction: column;
  }

  &--checkbox {
    padding-top: 24px;
    padding-bottom: 20px;

    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    &:hover::before {
      border-color: $excretion-light;
    }

    &:active::before {
      border-color: $heading-color;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-bottom: 6px;
    display: flex;

    &--wrap {
      padding-top: 67px;
      padding-left: 187px;
      padding-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--checkbox {
      padding-bottom: 58px;
      padding-top: 0;
    }

    &--checkbox:nth-of-type(odd) {
      grid-column: 1/2;
    }

    &--checkbox:nth-of-type(even) {
      margin-left: 70px;
    }

    .form__heading {
      top: 49px;
      left: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;

    &--wrap {
      width: 80%;
      padding-left: 183px;
      margin-top: 2px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }

    &--checkbox::before {
      left: -72px;
      top: -23px;
    }

    &--checkbox:nth-of-type(odd) {
      grid-column: auto;
    }

    &--checkbox:nth-of-type(1) {
      grid-column: 1/2;
    }

    &--checkbox:nth-of-type(even) {
      margin-left: 0;
    }

    &--checkbox[for="white"],
    &--checkbox[for="black"] {
      padding-left: 13px;
    }

    &--checkbox[for="white"]::before,
    &--checkbox[for="black"]::before {
      top: -20px;
      left: -68px;
    }

    &--checkbox[for="grey"],
    &--checkbox[for="pink"] {
      padding-left: 6px;
    }

    &--checkbox[for="grey"]::before,
    &--checkbox[for="pink"]::before {
      left: -75px;
      top: -20px;
    }

    &--checkbox[for="tiffani"]::before,
    &--checkbox[for="orange"]::before {
      left: -80px;
      top: -20px;
    }

    .form__heading {
      left: 110px;
    }
  }
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -61px;
  top: 13px;
  width: 35px;
  height: 35px;
  border: 2px solid $text-color;

  @media (min-width: $tablet-width) {
    left: -81px;
    top: -15px;
    width: 47px;
    height: 47px;
  }
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/tick.svg");
  position: absolute;
  top: 25px;
  left: -54px;
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    content: url("../img/tick__desctop.svg");
    top: 3px;
    left: -71px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: -59px;
  }
}

@media (min-width: $desktop-width) {
  .filter-input-checkbox:checked + label[for="grey"]::after,
  .filter-input-checkbox:checked + label[for="pink"]::after {
    top: -5px;
    left: -66px;
  }

  .filter-input-checkbox:checked + label[for="tiffani"]::after,
  .filter-input-checkbox:checked + label[for="orange"]::after {
    top: -5px;
    left: -71px;
  }
}
