.main__wrapper {
  width: 100%;
  padding: 0 30px;
}

.main__heading--wrap-form {
  width: 320px;
  height: 180px;
  background-color: $footer-color;

  display: flex;
}

.main__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}
