.registration {
  padding: 0;
  border: none;
  margin: 0;
  position: relative;

  input {
    width: 97%;
    display: block;
    box-shadow: inset 0px -2px 0px $heading-color;
    border: none;
  }

  .form__heading {
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    input {
      width: 71.1%;
      padding-left: 20px;

      &::placeholder {
        font-size: 19px;
        line-height: 18px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .form__heading {
      left: 111px;
    }
  }
}

.registration__client {
  margin-bottom: 0;

  &--item {
    padding-bottom: 22px;

    &:hover input,
    input:focus {
      box-shadow: inset 0px -2px 0px $excretion-light;
      outline: none;
    }
  }

  input {
    padding-bottom: 16px;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    position: relative;

    &--wrap {
      padding-left: 168px;
    }

    &--item {
      padding-top: 17px;

      display: flex;
      flex-wrap: wrap;
    }

    input {
      padding-left: 17px;
      flex-grow: 1;
    }
  }

  @media (min-width: $desktop-width) {
    &--wrap {
      padding-left: 177px;
    }

    &--item {
      width: 80%;
    }
  }
}

.registration__heading {
  padding-bottom: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-right: 25px;
  }
}

.registration--background {
  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.registration__adress {
  .form__heading {
    padding-top: 12px;
    padding-bottom: 21px;
    display: block;

    &--decorate::after {
      top: 38%;
    }
  }

  &--wrap {
    padding-bottom: 23px;
  }

  &--item {
    position: relative;
  }

  &--item:hover svg,
  input:focus + svg {
    fill: $underline-color;
    opacity: 1;
  }

  &--telephone {
    position: absolute;
    top: -5px;
    right: 4%;
    opacity: 0.2;
  }

  &--e-mail {
    position: absolute;
    bottom: 16px;
    right: 3%;
    opacity: 0.2;
  }

  input {
    padding-bottom: 19px;

    &:hover,
    &:focus {
      box-shadow: inset 0px -2px 0px $excretion-light;
      outline: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;

    .form__heading {
      padding-bottom: 0;
      padding-top: 0;
      padding-right: 89px;
      position: relative;
    }

    input {
      width: 100%;
      padding-left: 18px;
      margin-left: 0;
      background-color: inherit;
    }

    &--wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      padding-bottom: 38px;
      padding-right: 20px;
    }

    &--item {
      flex-grow: 1;
    }

    &--telephone {
      top: -17%;
      right: 1.2%;
    }

    &--e-mail {
      bottom: 15px;
      right: 0.4%;
    }
  }

  @media (min-width: $desktop-width) {
    input {
      width: 77.7%;
    }

    &--wrap {
      padding-right: 0;
    }

    &--telephone {
      top: -6px;
      right: 21%;
    }

    &--e-mail {
      bottom: 13px;
      right: 20.4%;
    }

    .form__heading {
      padding-left: 61px;
      padding-right: 35px;
      left: 0;
    }
  }
}

.registration__telephone {
  .form__heading {
    padding-right: 107px;

    @media (min-width: $desktop-width) {
      padding-right: 53px;
    }
  }
}

.registration__wishes {
  &--text {
    width: 90%;
    height: 120px;
    margin-bottom: 14px;
    padding-top: 17px;
    padding-left: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: fade-out($heading-color, .3);
    border: 2px solid $text-color;
    box-sizing: content-box;

    &:hover,
    &:focus {
      border: 2px solid $excretion-light;
      outline: none;
    }
  }

  &--note {
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .form__heading {
    display: block;
    padding-bottom: 23px;
    padding-top: 10px;

    &--decorate::after {
      top: 17px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &--text {
      height: 122px;
      font-size: 19px;
      margin-left: 167px;
      margin-bottom: 51px;
      margin-right: 0;
      padding-top: 15px;
      padding-left: 14px;
    }

    &--note {
      order: 3;
      margin-left: 136px;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 17px;
      line-height: 30px;
    }

    .form__heading {
      padding-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      width: 681px;
      height: 124px;
      padding-top: 15px;
      margin-left: 175px;
      margin-bottom: 46px;
    }

    &--note {
      margin-left: 169px;
      margin-top: 13px;
    }
  }
}

.form__button {
  font-size: 17px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}
