.registration {
  padding: 0;
  border: none;
  margin: 0;
  position: relative;

  input {
    width: 96.5%;
    display: block;
    box-shadow: inset 0px -2px 0px $heading-color;
    border: none;
  }

  .form__heading {
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    input {
      width: 70%;
      display: inline-block;
      margin-left: 20px;
      padding-left: 20px;

      &[name="name"] {
        width: 80.4%;
      }

      &::placeholder {
        font-size: 19px;
        line-height: 18px;
      }
    }

    .form__heading {
      position: absolute;
    }
  }

  @media (min-width: $desktop-width) {
    input {
      width: 63%;

      &[name="name"] {
        width: 69%;
      }
    }

    .form__heading {
      left: 111px;
    }
  }
}

.registration__client {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    position: relative;
  }
}

.registration__heading {
  margin-top: 20px;

  input {
    margin-top: 19px;
    margin-bottom: 22px;
    padding-bottom: 17px;
  }

  &:hover input,
  input:focus {
    box-shadow: inset 0px -2px 0px $excretion-light;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 167px;

    input {
      margin-top: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}

.registration--background {
  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.registration__adress {
  position: relative;

  .form__heading {
    padding-top: 14px;
    position: static;

    &:hover input,
    input:focus {
      box-shadow: inset 0px -2px 0px $excretion-light;
      outline: none;
    }

    &:nth-of-type(2) input {
      margin-bottom: 17px;
      margin-top: 22px;
      padding-bottom: 17px;
    }

    &--telephone::after {
      content: "";
      position: absolute;
      width: 61.5%;
      height: 1px;
      top: 7px;
      left: 90px;
      background-color: $underline-color;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--telephone::before {
      content: url("../img/icons/icon__phone.svg");
      position: absolute;
      width: 32px;
      height: 21px;
      top: 32px;
      right: 35px;
    }


    &--e-mail::after {
      content: "";
      position: absolute;
      width: 56%;
      height: 1px;
      top: 114px;
      left: 108px;
      background-color: $underline-color;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--e-mail::before {
      content: url("../img/icons/icon__mail.svg");
      position: absolute;
      width: 32px;
      height: 21px;
      bottom: 15px;
      right: 38px;
    }
  }

  input {
    width: 97%;
    margin-top: 19px;
    margin-bottom: 34px;
    padding-bottom: 19px;
    padding-left: 1px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;


    .form__heading {
      position: static;
      padding-bottom: 0;
      padding-top: 0;

      &:nth-of-type(2) input {
        margin-left: 105px;
      }

      &--telephone::before {
        top: 26%;
        right: 9%;
      }

      &--e-mail::before {
        bottom: 29%;
        right: 9.5%;
      }
    }

    input {
      width: 71.6%;
      margin-left: 130px;
      padding-left: 18px;
      background-color: inherit;
    }

    label:nth-of-type(2) {
      margin-top: -15px;
    }
  }

  @media (min-width: $desktop-width) {
    input {
      width: 68.6%;
      margin-left: 78px;
    }

    .form__heading {
      padding-left: 61px;

      &:nth-of-type(2) input {
        margin-left: 53px;
      }

      &--telephone::before {
        top: 62px;
        right: 226px;
      }

      &--e-mail::before {
        bottom: 63px;
        right: 229px;
      }
    }
  }
}

.registration__wishes {
  &--text {
    width: 238px;
    height: 117px;
    margin-bottom: 14px;
    padding-top: 21px;
    padding-left: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: fade-out($heading-color, .3);
    border: 2px solid $text-color;
    box-sizing: content-box;

    &:hover,
    &:focus {
      border: 2px solid $excretion-light;
      outline: none;
    }
  }

  &--note {
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .form__heading {
    display: block;
    padding-bottom: 20px;

    &--decorate::after {
      width: 75.5%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &--text {
      width: 480px;
      height: 122px;
      font-size: 19px;
      margin-left: 167px;
      margin-bottom: 55px;
      margin-right: 0;
      padding-top: 15px;
      padding-left: 14px;
    }

    &--note {
      order: 3;
      margin-left: 136px;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 17px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      width: 681px;
      height: 124px;
      padding-top: 15px;
      margin-left: 175px;
      margin-bottom: 49px;
    }

    &--note {
      margin-left: 169px;
      margin-top: 15px;
    }
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}
